// CORES
$cinza-escuro: #12130F;

$verde-azulado: #5B9279;

$verde-claro: #8FCB9B;

$branco-platinado: #EAE6E5;

$marrom-claro: #8F8073;

$sombra-padrao: #5b927962;


// principal
body {
    background-color: $verde-azulado;
    color: $branco-platinado;
}

// cabeçalho
header div {
    background-color: #5b9279e1;
}

header p {
    color: $cinza-escuro;
}

// menu de navegação
nav {
    background-color: $cinza-escuro;
}

#logo-brand {
    color: $verde-claro;
}

#logo-brand:hover {
    color: $verde-azulado;
}

nav ul li a {
    color: $branco-platinado;
}

nav ul li a:hover {
    background-color: $verde-claro;
    color: $cinza-escuro;
}

// conteúdo
.conteudo-principal {
    display: flex;
}

// conteúdo dos jogos

// seção de texto do jogo

// imagem dos jogos
.imagem-jogo {
    box-shadow: 1px 1px 10px $sombra-padrao;
}

aside {
    background-color: $branco-platinado;
    color: $cinza-escuro;
}
// conteúdo dos jogos
article {
    background-color: $branco-platinado;
    color: $cinza-escuro;
}

// botao saiba mais
.saiba-mais {
    background-color: $verde-claro;
    color: $cinza-escuro;
}