// FONTE
$main-font: "ubuntu", sans-serif;

// CORES
$cinza-escuro: #12130F;

$verde-azulado: #5B9279;

$verde-claro: #8FCB9B;

$branco-platinado: #EAE6E5;

$marrom-claro: #8F8073;

// ESPAÇAMENTO
$space-blocos: 1em;

$space-textos: .2em;
$space-textos-exp: .4em;


// principal
* { margin: 0; padding: 0; }

body {
    font-family: $main-font;
    padding: 0 $space-blocos;
}

// cabeçalho
header {
    text-align: center;
    background-image: url(../img/bg-predio.png);
    background-size: contain;
}

header div {
    padding: $space-blocos;
}

header h1 {
    margin-bottom: $space-textos;
}

header p {
    font-weight: bold;
}

// menu de navegação
nav {
    border-radius: .5em;
    padding: $space-blocos;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
}

#logo-brand {
    font-size: 2em;
    font-weight: bold;
    transition: all .2s;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li a {
    display: block;
    margin: $space-textos;
    padding: $space-textos;
    transition: all .2s;
    border-radius: $space-textos;
}

nav ul li a:hover {
    padding: $space-textos-exp;
}

// conteúdo
.conteudo-principal {
    display: flex;
}

main {
    margin-right: $space-blocos;
    width: 70%;
}

main h3,
main p {
    margin: $space-textos;
}

main,
aside {
    padding: $space-blocos;
    margin-top: $space-blocos;
    border-radius: .2em;
}

aside {
    width: 30%;
}

// botão saiba mais
button {
    border: none;
    padding: .5em 1em;
    font-size: 1em;
    border-radius: .4em;
}